
      <footer class="footer">
        <p>&copy; 2017 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/controllers/mainController.js"></script>
<script src="/js/controllers/chickenController.js"></script>
<script src="/js/controllers/homeController.js"></script>
<script src="/js/controllers/productController.js"></script>
<script src="/js/controllers/orderPlacement.js"></script>
<script src="/js/controllers/adminboardController.js"></script>



<script src="/js/services/httpService.js"></script>
<script src="/js/filters/uniqueFilter.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
</body>
</html>