<div>

	<h3>ORDER PROCESSING</h3>

 <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Date & Time</th>
        <th>Address</th>
        <th >total Kgs</th>
        <th>Cut specs</th>
        <th>Quantity</th>


      </tr>
    </thead>
    <tbody>
      <tr >
        <td>7617</td>
        <td>21/1/18 11:02</td>
        <td >Junior Kuppana</td>
        <td >285 kgs</td>
        <td >Boneless</td>
        <td>45</td>
   
      </tr>
      <tr >
        <td>7617</td>
        <td>21/1/18 11:02</td>
        <td >Junior Kuppana</td>
        <td >285 kgs</td>
        <td >Boneless</td>
        <td>45</td>
        
      </tr>      
      <tr >
        <td>7617</td>
        <td>21/1/18 11:02</td>
        <td >Junior Kuppana</td>
        <td >285 kgs</td>
        <td >Boneless</td>
        <td>45</td>
  
      </tr>      
    </tbody>
  </table>


</div>