<div>
	<h3>STOCK DETAILS</h3>
	<div class = "stockdetails-header">
	<p>Total stock in slaughter house <span>4500</span>kgs</p>
	<p>Approximate weight of live bird<span>4000</span>kgs</p>
	<p>Average weight per bird <span>2</span>kgs</p>
	</div>

 <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Date & Time</th>
        <th>Address</th>
        <th >total Kgs</th>
        <th>Cut specs</th>
        <th>Quantity</th>


      </tr>
    </thead>
    <tbody>
      <tr >
        <td>7617</td>
        <td>21/1/18 11:02</td>
        <td >Junior Kuppana</td>
        <td >285 kgs</td>
        <td >Boneless</td>
        <td>45</td>
 
      </tr>
      <tr >
        <td>7617</td>
        <td>21/1/18 11:02</td>
        <td >Junior Kuppana</td>
        <td >285 kgs</td>
        <td >Boneless</td>
        <td>45</td>

      </tr>      
      <tr >
        <td>7617</td>
        <td>21/1/18 11:02</td>
        <td >Junior Kuppana</td>
        <td >285 kgs</td>
        <td >Boneless</td>
        <td>45</td>
      </tr>      
    </tbody>
  </table>
<p class="final-details">Total <span class = "text-bold">4500 </span> Birds <span class = "text-bold">9000 </span>Kgs Avg.wt <span class = "text-bold">200</span> kgs</p>

</div>