.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

  /* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .login-container, .dashboard-container, .register-container, .error-container{
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}
textarea {
    resize: none;
}




/*angular*/
.view-wrapper{
  overflow: auto;
  min-height: 1000px;
}
.md-nav-bar {
  border-width:0 0 0;
}
.outerBorder{
  border:2px solid grey;
  box-sizing: border-box;
  margin: 2px 0;
}
.item-image-wrapper , .item-price, .item-name{
  text-align: center;
}
.stockdetails-header{
    text-align: center;
    font-size: 20px;
}
.text-bold {
    text-decoration: solid;
    font-weight: bold;
    font-size: 20px;
}
.final-details {
  text-align: right;
}
.table-alert{
  background-color: #d9534f;
}
body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}


.custom-placement{
   width: 192px;
    border: 2px solid #337ab7;
    margin-left: 40%;
    border-radius: 7px;
    }
.tab-pane{
  margin-top: 10px;
}

.radio-wrapper input[type=radio]{
  top: 7px;
}
.radio-wrapper{
    margin-left: 40%;
    font-size: 22px;
}



